#mountains {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#sky {
    margin: 0px;
    transition: background-color 8s;
}

#moon {
    position: fixed;
    width: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: bottom 10s;
}

.skystart {
    background-color: #004b73
}

.skyend {
    background-color: #001926;
}

.moonstart {
    bottom: -20%;
}

.moonend {
    bottom: 70%;
}