#sky {
    margin: 0px;

}

.sky0 {
    background-color: #004b73
}

.sky1 {
    background-color: #004163;
}

.sky2 {
    background-color: #003754;
}

.sky3 {
    background-color: #002d45;
}

.sky4 {
    background-color: #002336;
}

.sky5 {
    background-color: #001926;
}

.sky6 {
    background-color: #000f17;
}

.sky7 {
    background-color: black;
}

#moon {
    position: fixed;
    width: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.moon0 {
    display: none;
}

.moon1 {
    bottom: 10%;
}

.moon2 {
    bottom: 20%;
}

.moon3 {
    bottom: 30%;
}

.moon4 {
    bottom: 40%;
}

.moon5 {
    bottom: 50%;
}

.moon6 {
    bottom: 60%;
}

.moon7 {
    display: none;
}

#mountains {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}